{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="title" content="Rave" />
    <meta name="description" content="Premium NFT marketplace" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RAVE NFT - Music NFT Marketplace & More</title>
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- 🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈🌈 STYLES -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'symbol.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/plugins/remixicon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />


    <style>
        body{
            background: #f0f0f1 !important;
        }
        #logo_js_f {
            width: 150px !important;
        }

        #logo_js {
            width: 280px !important;
            height: 100px !important;
        }

        @media screen and (max-width: 991px) {
            .footer__1 {
                margin-top: 0px !important;
            }
        }

        #nft_img_size {
            max-width: 100% !important;
            display: block !important;
            height: 300px !important;
        }

        .btnf {
            background: #F6935B !important;
            color: white !important;
        }

        .btnw {
            background: #EF6175 !important;
        }

        .btns {
            background: #6f7d95 !important;
        }
    </style>
</head>

<body class="body">
    <div class="overflow-hidden">
        <header class="header__1 js-header" id="header">
            <div class="container">
                <div class="wrapper js-header-wrapper">
                    <div class="header__logo">
                        <a href="/">
                            <img class="header__logo" id="logo_js" src="{% static 'ravelg.png' %}" alt="logo" />
                        </a>
                    </div>

                    <!-- ==================  -->
                    <div class="header__menu">
                        <ul class="d-flex space-x-20">
                            <li>
                                <a class="color_black" href="{% url 'index' %}">Home</a>
                            </li>
                            <li>
                                <a class="color_black" href="{% url 'marketplace' %}">Marketplace</a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a class="color_black" href="{% url 'admin_panel' %}">Admin</a>
                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li>
                                <a class="color_black" href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                            <li>
                                <a class="color_black" href="{% url 'logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li>
                                <a class="color_black" href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a class="color_black" href="{% url 'register' %}">Register</a>
                            </li>
                            {% endif %}
                            <!-- <li>
                                <a class="color_black" href="Profile.html"> Profile</a>
                            </li> -->
                        </ul>
                    </div>
                    <!-- ================= -->
                    <!-- <div class="header__search">
                        <input type="text" placeholder="Search" />
                        <button class="header__result">
                            <i class="ri-search-line"></i>
                        </button>
                    </div> -->
                    <div class="header__btns">
                        <a onclick="connectWeb3();" class="connectbtn btn btn-grad btn-sm" style="padding: 10px !important; cursor: pointer; background: #EF6175 !important;">
                            <i class="ri-wallet-3-line"></i>
                            Connect wallet</a>
                        <a onclick="connectWeb3();">
                            <img width="40" src="{% static 'img/icons/metamask.svg' %}" alt="">
                        </a>
                    </div>
                    <div class="header__burger js-header-burger"></div>

                    <div class="header__mobile js-header-mobile">
                        <div class="header__mobile__menu space-y-40">
                            <ul class="d-flex space-y-20">
                                <li>
                                    <a class="color_black" href="{% url 'index' %}">Home</a>
                                </li>
                                <li>
                                    <a class="color_black" href="{% url 'marketplace' %}">Marketplace</a>
                                </li>
                                {% if user.is_superuser %}
                                <li>
                                    <a class="color_black" href="{% url 'admin_panel' %}">Admin</a>
                                </li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                <li>
                                    <a class="color_black" href="{% url 'dashboard' %}">Dashboard</a>
                                </li>
                                <li>
                                    <a class="color_black" href="{% url 'logout' %}">Logout</a>
                                </li>
                                {% else %}
                                <li>
                                    <a class="color_black" href="{% url 'login' %}">Login</a>
                                </li>
                                <li>
                                    <a class="color_black" href="{% url 'register' %}">Register</a>
                                </li>
                                {% endif %}
                            </ul>
                            <div class="space-y-20">
                                <a onclick="connectWeb3();" class="connectbtn btn btn-grad btn-sm"
                                    style="cursor: pointer;">Connect
                                    wallet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        {% block body %}
        {% endblock %}
        <footer class="footer__1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 space-y-20">
                        <div class="footer__logo">
                            <a href="/">
                                <img src="{% static 'logo.png' %}" alt="logo" id="logo_js_f">
                            </a>
                        </div>
                        <!-- <div>
                            <ul class="footer__social space-x-10 mb-40">
                                <li> <a href=""> <i class="ri-facebook-line"></i> </a>
                                </li>
                                <li> <a href=""> <i class="ri-messenger-line"></i> </a>
                                </li>
                                <li> <a href=""> <i class="ri-whatsapp-line"></i> </a>
                                </li>
                                <li> <a href=""> <i class="ri-youtube-line"></i> </a>
                                </li>
                            </ul>
                        </div> -->
                        <div></div>
                        <div></div>
                    </div>
                    <div class="col-lg-2 col-6" style="margin-top: 20px;">
                        <h6 class="footer__title">Rave</h6>
                        <ul class="footer__list">
                            <li> <a href="{% url 'login' %}"> Login </a>
                            </li>
                            <li> <a href="{% url 'register' %}"> Register
                                </a> </li>

                        </ul>
                    </div>
                    <!-- <div class="col-lg-2 col-6">
                        <h6 class="footer__title">Assets</h6>
                        <ul class="footer__list">
                            <li> <a href="Profile.html"> Profile </a>
                            </li>
                            <li> <a href="Creators.html"> Creators </a>
                            </li>
                            <li> <a href="Collections.html"> Colletctions </a>
                            </li>
                            <li> <a href="Activity.html"> Activity
                                </a> </li>
                        </ul>
                    </div> -->
                    <div class="col-lg-2 col-6" style="margin-top: 20px;">
                        <h6 class="footer__title">Company</h6>
                        <ul class="footer__list">
                            <li> <a href="{% url 'create_nft' %}"> Upload </a> </li>
                            <li> <a class="connectbtn" onclick="connectWeb3();" style="cursor: pointer;"> Connect wallet
                                </a> </li>
                        </ul>
                    </div>
                </div>
                <p class="copyright text-center">
                    Copyright © 2021. RAVE NFT
                </p>
            </div>
        </footer>
    </div>

    <script>
        $(".dark").on('click', function (e) {

            document.getElementById("img_js").src = "{% static 'img/bg/in_hero1_dark.png' %}"


        });
        $(".light").on('click', function (e) {
            document.getElementById("img_js").src = "{% static 'img/bg/in_hero1.png' %}"
        });
    </script>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'js/sticky-sidebar.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <!-- <script src="https://unpkg.com/moralis/dist/moralis.js' %}"></script> -->
    <!-- <script src="{% static 'js/nft.js' %}"></script> -->

</body>

</html>